

.main{
 
    display: flex;
    
    justify-content: space-around;
 
        width: 60%;
        margin: auto;
        margin-top: 5em;
        border: rgb(255,75,43) 2px solid;
        border-radius: 15px;
        overflow: hidden;

    
      
    
}
.sign-in{
    padding: 20px;
    text-align: center;
    flex-basis: 49%;

}
.social-media{
    display: flex
    ;
        justify-content: space-around;
        width: 50%;
        margin: auto;
        min-width: 135px;
}
.icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 7px;
    border: 1px black solid;
    border-radius: 50%;
}

.form-group{
    position: relative;
    width: 70%;
    min-width: 200px;
   
    margin: 1em auto;
}
button{
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: transparent;
    font-size: medium;
    margin-top: 10px;


}


/**************************************************/
.signup-entry{
    padding: 20px;
    text-align: center;
    padding: auto;
    padding-top: 5em;
    min-width: 270px;
    flex-basis: 51%;
    background: rgb(255,75,43);
    background: linear-gradient(108deg, rgba(255,75,43,1) 0%, rgba(238,131,7,1) 99%);;
    color:white;
  
}
.signup-entry p{
    font-size: medium;
   margin: 20px auto;
    letter-spacing: 0.3px;
    width: 90%;



}
 input{

        width: 90%;
    
        padding: 12px 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
      
      
}
 label{
  
        position: absolute;
        left: 10px;
        top: 12px;
        background-color: white;
        padding: 0 4px;
        color: #999;
        transition: 0.2s ease all;
        pointer-events: none;
    
}
input:focus + label{ /* The + is the adjacent sibling combinator. It selects the next element immediately after the input — only if it’s a <label>.*/
    top: -8px;
    left: 8px;
    font-size: 12px;
    color:rgb(255,75,43);


}
input:focus{
    border: 1px solid;
    border-image: linear-gradient(to right, #ff6a00, #ee0979);
    border-image-slice: 1;
   
   
}

/*******************************************************/
.sign-up{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    margin-top:5em;
  
    border: 2px rgb(255,75,43) solid;
    border-radius: 15px;
    overflow:hidden;
}
.sign{
    flex-basis: 50%;
    margin: auto;
    text-align: center;
}
.login-entry{
    padding: 20px;
    text-align: center;
    padding-top: 3em;
   background: rgb(255,75,43);
    background: linear-gradient(108deg, rgba(255,75,43,1) 0%, rgba(238,131,7,1) 99%);;
    color:white;
}
.login-entry p{
    width: 90%;
    letter-spacing: 0.3px;
    text-align: center;
 
    margin: 20px auto;
}
